---
import '../styles/AboutUs.css';
---



<section id="about-us-section" class="about-us-section">
    <article class="about-us-info">
        <h2 class="about-us-title">About Us</h2>
        <h3>WHO WE ARE?</h3>
        <h4>Veltrix: You dream, we code.</h4>
        <p>
            We are a group of developers who share the same passion: creating
            software that truly makes a difference. From business tools to web
            applications, our goal is to build products that exceed
            expectations.
        </p>

        <button class="button button-read-more">Read more</button>
    </article>

    <img src="/about-us-img.jpg" alt="about-us-img" />
</section>
