---
import "../styles/Hero.css";
---

<section class="hero-section">

    <div class="hero-info">

        <h2 class="hero-title">Your vision, our code.</h2>

        <p class="hero-text">
            You dream, we code. From ideas to launch-ready products, Veltrix
            turns your vision into powerful, functional code
        </p>

        <div class="hero-buttons">
            <button class="button button-getStarted"> Get Started </button>

            <button class="button button-learn"> Learn </button>
        </div>
    </div>

    <img class="hero-img" src="/abstract-figure_1.svg" alt="abstract_figure" />
</section>
