---
import Form from '../components/Form.astro'
import '../styles/Contact.css'
---

<section class="form-section">
    <div class="form-info">

        <h2>Do you think <span>should talk?</span></h2>

        <div class="form-item">
            <img src="icons/contact/email-icon.svg" alt="email" class='icon' />
            <p>byteworks@gmail.com</p>
        </div>

        <div class="form-item">
            <img src="icons/contact/phone-icon.svg" alt="email" class='icon' />
            <p>+573147875028 </p>
        </div>

        <div class="form-item">
            <img src="icons/contact/location-icon.svg" alt="email" class='icon' />
            <p>Popayán - Cauca - Colombia</p>
        </div>
    </div>

    <Form />

</section>

