---
import "./styles/Footer.css";
import { Icon } from "astro-icon/components";
---

<footer class="footer">
    <div class="footer-info">
        <div class="footer-section">
            <h5>QUICK LINKS</h5>
            <ul class="footer-items">
                <li>
                    <a class="footer-item quick-link" href="#hero-section">Home</a>
                </li>
                <li>
                    <a class="footer-item quick-link" href="#about-us-section">About Us</a>
                </li>
                <li>
                    <a class="footer-item quick-link" href="#services-section">Services</a>
                </li>
            </ul>
        </div>

        <div class="footer-section">
            <h5>ADDRESS</h5>
            <p>Popayán, Cauca, Colombia</p>
        </div>

        <div class="footer-section">
            <h5>CONTACT</h5>
            <p>+57 314 787 5028</p>
            <p>email@example.com</p>
        </div>

        <div class="footer-section">
            <h5>FOLLOW US</h5>
            <div class="social-icons">
                <a href="https://instagram.com" target="_blank" class="social-icon">
                    <Icon name="instagram" size="24" />
                </a>
                <a href="https://github.com" target="_blank" class="social-icon">
                    <Icon name="github" size="24" />
                </a>
                <a href="https://facebook.com" target="_blank" class="social-icon">
                    <Icon name="facebook" size="24" />
                </a>
                <a href="https://linkedin.com" target="_blank" class="social-icon">
                    <Icon name="linkedin" size="24" />
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 - Veltrix. All Rights Reserved.</p>
    </div>
</footer>
