---
import ServicesGrid from '../components/ServicesGrid.astro'
import '../styles/Services.css'
---

<section class="services-section">
    <h2 class="services-title">Our Services</h2>
    <p class="services-text">
        We design and develop modern, high-performance websites, web and mobile applications.
    </p>
    <ServicesGrid/>
</section>