:root {
    /* Colors */
    --primary: #70437F;
    --primary-200: #482b52;
    --primary-600: #18091d;
    --secondary: #141414;
    --black: #000000;
    --white: #FFFFFF;
    /* Fonts */
}

html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh; /* Permite que crezca según el contenido */
    color: var(--white);

    /* Fondo corregido */
    background-image: linear-gradient(to top, var(--primary-600) 0%, var(--black) 70%);
    background-attachment: fixed; /* Fija el fondo para que no corte en scroll */
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

li {
    list-style: none;
}