---
import ReasonsGrid from '../components/ReasonsGrid.astro'
import Technologies from '../components/Technologies.astro'
import '../styles/WhyChooseUs.css'
---

<section class="why-choose-us-section">
    <h2 class="reasons-title">Why Choose Us?</h2>
    <ReasonsGrid />
    <Technologies/>
</section>