---
import ProfileCard from "../components/ProfileCard.astro";
---

<section class="text-center px-6 md:px-10 flex flex-col items-center" id="team">
    <h2 class="text-4xl text-sky-900 font-bold">Conoce a nuestro equipo</h2>
    <p class="text-lg max-w-screen-md text-gray-600">
        En Veltrix, somos un equipo de desarrolladores apasionados por la tecnología, creando soluciones digitales eficientes, escalables y de alto rendimiento. Combinamos experiencia y excelencia para llevar cada proyecto al siguiente nivel.
    </p>

    <div class="flex flex-wrap justify-center gap-6 mt-10 w-full">
        <ProfileCard
            userImage="/sebastian.jpg"
            name="Juan Sebastián Astudillo"
            title="Co-fundador & Fullstack Developer"
            description="Desarrollador Frontend con experiencia en React y Next.js. Apasionado por la creación de interfaces de usuario atractivas y funcionales."
     
        />

        <ProfileCard
            userImage="/kevin.jpg"
            name="Kevin Caicedo"
            title="Co-Fundador & Senior Developer"
            description="Arquitecto de software con experiencia en sistemas escalables y de alto rendimiento enfocado en crear soluciones robustas y eficientes."
           
        />
    </div>
</section>
